<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>microsoft edgers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Shivam.....</h1>
    <h1>Welcome to the Banking App</h1>
    <p>This is the home page of your Flask project.</p>
    <button class="glow-btn">Press Me</button>

    <script>
        function addTask() {
            const input = document.getElementById("taskInput");
            const taskText = input.value.trim();

            if (taskText === "") return;

            const li = document.createElement("li");
            li.textContent = taskText;

            // Toggle complete on click
            li.addEventListener("click", () => {
                li.classList.toggle("completed");
            });

            // Delete button
            const deleteBtn = document.createElement("span");
            deleteBtn.textContent = "X";
            deleteBtn.classList.add("delete-btn");
            deleteBtn.onclick = () => li.remove();

            li.appendChild(deleteBtn);
            document.getElementById("taskList").appendChild(li);

            input.value = "";
        }
    </script>
</body>

</html>